<article class="post-item">
	<h1 class="post-title">
		<a href="/<%= post.url%>"><%= post.title %></a>
	</h1>
	<h3 class="post-author">
		<%= moment.utc(post.timestamp).format("ddd MMM D YYYY") %> by <%= post.author %>
	</h3>
	<div class="post-content markdown">
		<%- post.content %>
	</div>
	<% if (post.snipped) { %>
		<a href="/<%= post.url %>" class="read-more">
			Read more...
		</a>
		<div class="post-seperator" />
	<% } %>
</article>