<% let listOfCategories = post.categories; %>
<% let finalCategoriesClass = ""; %>

<% for (category of post.categories) { %>
<%	finalCategoriesClass += ` post-category-${category}`; %>
<% } %>

<article class="post-item<%= finalCategoriesClass %>">
	<h1 class="post-title">
		<a href="/<%= post.url%>?beta=<%= beta %>"><%= post.title %></a>
	</h1>
	<h3 class="post-author">
		<%= moment.utc(post.timestamp).format("ddd MMM D YYYY") %> by <%= post.author %>
	</h3>
	<div class="post-content markdown">
		<%- post.content %>
	</div>
	<% if (post.snipped) { %>
		<a href="/<%= post.url %>?beta=<%= beta %>" class="read-more">
			Read more <span class ="arrow"> → </span>
		</a>
	<% } %>
</article>

<div class="post-seperator<%= finalCategoriesClass %>"></div>