<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
	<meta name="viewport" content="initial-scale=1.0, width=device-width">

  <link rel="shortcut icon" href="https://replit.com/public/images/favicon.ico" type="image/vnd.microsoft.icon">

  <meta property="og:title" content="<%= post.title %>">
  <meta property="og:description" content="<%= post.description %>">
  <meta property="og:type" content="article" >
  <meta property="og:image" content="<%= post.cover %>" >
  <meta property="og:site_name" content="Replit Blog" >
  <meta property="fb:app_id" content="1775481339348651" >
  <meta property="og:url" content="https://blog.replit.com/<%= post.url%>" >

  <meta itemprop="name" content="Replit Blog" >
  <meta itemprop="description" content="<%= post.description %>" >
  <meta itemprop="image" content="<%= post.cover %>" >


  <meta name="description" content="<%= post.description %>" >
  <meta name="keywords" content="IDE,Interpreter,Compiler,Teach,Host,Learn,Code,REPL,Compiler,Clojure,Haskell,Kotlin (beta),QBasic,Forth,LOLCODE,BrainF,Emoticon,Bloop,Unlambda,JavaScript,CoffeeScript,Scheme,APL,Lua,Python 2.7,Ruby,Roy,Python,Nodejs,Go,C++,C,C#,F#,HTML, CSS, JS,Rust,Swift,Python (with Turtle),R,Bash,Quil,Crystal,Julia,Elixir,Nim,Dart,Reason NodeJs,Erlang,TypeScript,Pygame,Love2D,Tkinter,Java Swing,Emacs Lisp (Elisp),PHP Web Server,SQLite,Java,PHP CLI,Pyxel"><meta name="author" property="og:author" content="repl.it">


  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@replit">
  <meta name="twitter:title" content="<%= post.title %>">
  <meta name="twitter:description" content="<%= post.description %>">
  <meta name="twitter:image" content="<%= post.cover %>">


	<title>Replit - <%= post.title %></title>

	<link id="mainCSS" rel="stylesheet" type="text/css" href="/style.css?x=20">

	<link rel="stylesheet" type="text/css" href="/hljs.min.css">

	<style id="cssHolder"></style>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700&display=swap" rel="stylesheet">
  
  <script async="" src="https://www.google-analytics.com/analytics.js"></script>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-25629695-1', 'auto');
      ga('send', 'pageview');</script><script>
          !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
            analytics.load('jdVID8rHoI7wkCBDjKmjApGBGWclWIKJ');
            analytics.page('blog');
          }}();</script><script>
      (function (isTouchDevice) {
      if (!isTouchDevice) return;
      var isTouchClass = 'is-touch-device';
      var docElement = document.documentElement;
      docElement.className = docElement.className ? [docElement.className, isTouchClass].join(' ') : isTouchClass;
      })(('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch);
    </script>
</head>
<body>

<section class ="page_container">
<%- include('header'); %>
<% if (betaEnabled == 1) { %>
<a class="back" href="/?beta=1">← <span>Back to blog</span></a>
<% } else { %>
<a class="back" href="/">← <span>Back to blog</span></a>
<% } %>
<a class="repl-link" href="/__repl?fileName=posts/<%= post.url %>.md">Edit on Replit</a>

<% if (betaEnabled == 1) { %>
<%- include('theme-control'); %>
<section class="categories-container-holder">
<div id="categories-container" class="categories-container"></div>
</section>
<script>
	let categories = "<%= post.categories %>".split(',');

	let finalInner = "";

	categories.forEach((categoryName) => {
		finalInner += `<p class="category-holder"><a href="/?beta=1&category=${categoryName}" id="category-${categoryName}" class="categories-child category">${categoryName}</a><p>`
	})

	document.getElementById('categories-container').innerHTML = finalInner;
</script>
<% } %>
<%- include('post.ejs', { post }); %>
</section>

<%- include('footer'); %>
</body>
</html>