<article class="post-item">
	<% let betaEnding = ""; %>
	<% if (betaEnabled == 1) { %>
	<% betaEnding += "?beta=1" %>
	<% } %>
	<h1 class="post-title">
		<a href="/<%= post.url + betaEnding %>"><%= post.title %></a>
	</h1>
	<h3 class="post-author">
		<%= moment.utc(post.timestamp).format("ddd MMM D YYYY") %> by <%= post.author %>
	</h3>
	<div class="post-content markdown">
		<%- post.content %>
	</div>
	<% if (post.snipped) { %>
		<a href="/<%= post.url + betaEnding %>" class="read-more">
			Read more <span class ="arrow"> → </span>
		</a>
	<% } %>
</article>